# exclude everything archive windows .ini
*.ini
# exclude everything directory .vim/plugged
vim/.vim/plugged/**
# exclude everything directory .vim/pack
vim/.vim/pack/**
#**/plugged/**
# configuracion de ssh
ssh/
ssh/*
ssh/.ssh/*
