# exclude everything archive windows .ini
*.ini
# exclude everything directory .vim/plugged
vim/.vim/plugged/**
# exclude everything directory .vim/pack
vim/.vim/pack/**
#**/plugged/**
# configuracion de ssh
ssh/**
*/id_rsa
*/id_rsa.pub
*/known_hosts
*/known_hosts.old
